*{
	margin: 0;
	padding: 0;
	box-sizing: border-box
}

body{
    /* overflow: hidden; */
	/* height: 100vh; */
    position:relative;
    margin: 0;
    color: #EDEDED;
    -webkit-font-smoothing: antialiased;
}

.css-selector {
    background: linear-gradient(270deg, #ffffff, #b6b6b6);
    background-size: 400% 400%;

    -webkit-animation: AnimationName 30s ease infinite;
    -moz-animation: AnimationName 30s ease infinite;
    animation: AnimationName 30s ease infinite;
}

@-webkit-keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-moz-keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}


/* ==== holds contents for NAV bar / MENU bar ==== */

nav {
    border-bottom: 1px solid rgb(211, 211, 211);
    display: flex;
    width: 100%;
    overflow: auto;
    height: auto;
    z-index:1;
    padding: 0.8vw;
    text-align: justify;
    background-color: #000000;
    position: fixed;
    top: 0px;
}

.left-links {
    flex: 1 1 200px;
}


.links {
    display: inline-block;
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
    color: rgb(211, 211, 211);
    text-decoration: none;
    font-size: max(1vw, min(4vw, 20px));
    font-weight: 100;
    font-family: 'Roboto Mono', monospace;
}

    .links:hover {
        border-bottom: 1px solid #e7e7e7;
    }

.selected {
    border-bottom: 1px solid rgb(255, 255, 255);
}
/* ==== holds contents for NAV bar / MENU bar ==== */

/* ==== HOLDS THAT HAVE DO TO WITH CONTAINER . CENTER ==== */
.container {
    display: table;
    /* position: relative; */
    /* text-align: center; */
}

    .content {
        display: table-row;
        height: 100%;
    }

    .content-body {
        display: table-cell;
    }

    .container {
        width: 100%;
        height: 100%;
    }

    .content-body {
        padding: 20px;
        background: #e7e7e7;
    }

    .bottom-left {
        position: absolute;
        bottom: 0px;
        left: 0px;
    }

    .top-left {
        position: absolute;
        top: 0px;
        left: 0px;
    }

    .top-right {
        position: absolute;
        top: 8px;
        right: 16px;
    }

    .bottom-right {
        position: absolute;
        bottom: 8px;
        right: 16px;
    }

    .centered {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
/* ==== HOLDS THAT HAVE DO TO WITH CONTAINER . CENTER ==== */

h1 {
    color: #EDEDED;
    letter-spacing: 0px;
    cursor: crosshair;
    /* border-style: solid; */
    line-height: 80%;
    font-size: 62.5%;
    font-family: 'Roboto Mono';
    font-weight: 300;
}

.secretRev {
    border: #373737;
    border-width: 0.5vw;
    border-style: dashed;
    margin-top: 1vw;
    padding-top: 1vw;
    padding-bottom: 1vw;
    font-weight: bolder;
    color: #ffffff;
    font-family: 'Tomorrow', monospace;;
    background-color: #d6d6d6;
}

section {
    width: 100%;
    height: 100vh;

}

/* HEADER */
.masthead {
    /* Layout declarations */
    background: url(../img/brut.jpg) no-repeat fixed center;
    background-size: cover;
    padding: 1em 2em;
    border-top: 0px solid #EDEDED;
    text-align: center;
    text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
                 0px 8px 13px rgba(0,0,0,0.1),
                 0px 18px 23px rgba(0,0,0,0.1);
    /* Typography declarations */
    font-size: 4em;
  }
  
  .masthead-intro {
    margin: 2em 0 0 0;
    font-family: 'VT323';
  }
  
  .masthead-heading {
    /* Typography declarations */
    font-size: 10rem;
    /* Layout declarations */
    padding: 0;
    margin: 0 0 1em;
  }

  /* BODY */
/* General styling for the three sections of the body */
.sectionStyle {
    /* Layout declarations */
    max-width: 50em;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3em;
  }
  
  /* Gradient that runs through the body */
  .gradient {
    padding: 10em;
    /* can be treated like a fallback */
    background-color: #000000;;
    /* will be "on top", if browser supports it */
    background-image: linear-gradient(#000000, #3a3a3a);
  }

  /* The h2 tags are the main categories */
h2 {
    /* Typography declarations */
    font-size: 4em;
    font-family: 'Space Mono';
  }
  
  /* The h3 tags are the additional questions */
  h3 {
    /* Typography declarations */
    font-style: italic;
    font-size: 2.5em;
    font-family: 'Space Mono';
  }
  
  /* The p tags that are descendants of the section tags are the answers */
  section p {
    /* Typography declarations */
    font-size: 2em;
    line-height: 1.3em;
    font-family: 'VT323';
    text-align: justify;
    color: #c4c4c4;
  }
  
  /* This class is included in the last p tag of each section to create more space */
  .space-maker {
    /* Layout declarations */
    margin-bottom: 3em;
  }


  /* Thick red border */
hr.new4 {
    border: #1f1f1f;
  }

  .marquee {
    width: 100%;
    margin: 0 auto;
    white-space: nowrap;
    overflow: hidden;
    height: 54px;
    background: #000000;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    position: fixed;
    bottom: 0px;
    border-top: 1px solid rgb(211, 211, 211);
  }
  
  .marquee .text {
    display: inline-block;
    padding-left: 4.4rem;
    text-indent: 0;
    animation: marquee 22s linear infinite;
    font-weight: 500;
    font-size: 1.5rem;
    line-height: 125%;
    letter-spacing: -0.04em;
    text-transform: uppercase;
    color: #dbdbdb;
  }
  @keyframes marquee {
    0% {
      transform: translate(0, 0);
    }
  
    100% {
      transform: translate(-100%, 0);
    }
  }

  .content-footer > p {
    /* Layout declarations */
    line-height: 1.3em;
    text-align: center;
    /* Typography declarations */
    font-size: 2em;
  }
  
  .social {
    /* Layout declarations */
    text-align: center;
    padding: 0;
  }
  
  .social > li {
    /* Layout declarations */
    display: inline-block;
    line-height: 1.3em;
    margin-right: 2em;
    /* Typography declarations */
    font-size: 2em;
  }

    /* FOOTER */
    .content-footer {
        font-family: 'VT323';
        padding: 4em;
        background-color: #000000;
        padding-bottom: 8em;
      }
      
      .social > li {
      /* Layout declarations */
      display: block;
      margin-right: 0;
      }
      
      .content-footer p a {
        line-height: 0;
      } 
    
    
      /* FOOTER */
    @media only screen and (max-width: 344px) {
      .content-footer p a {
        line-height: 3em;
      }
    }